@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
:root {
  /* Colors */
  --headings: #000000;
  --background: #f9f9f9;
  --paragraph: #696969;
  --highlight-light: #f6f6f6;
  --highlight-dark: #f2f2f2;
  --waves-color: #d58170;

  /* fontsizes */
  --h1:5.5rem;
  --h2:4rem;
  --h3:1.75rem;
  --h4:1.25rem;
}
/* 
icon1:#EB6A4F;
icon2:#3D3E83;
icon3:#3FBE81;https://media.licdn.com/dms/image/C4D0BAQE4VnEuA-t82g/company-logo_200_200/0/1644429446411?e=2147483647&v=beta&t=zcC7HzcexS-Gt_PRpkl-6XZdQig0qxzwyiavd6DmABU
icon4:#7229E4;
icon5:##609EEB;
icon6:#C367B8;https://theme.zdassets.com/theme_assets/613805/20ca47df8103cd19bbad5a9ccc012eb7397d1813.png
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

img{
  object-fit: cover;
}
header nav {
  width: 100%;
  background-color: var(--background);
  padding-top:1rem;
}
.container{
  width:min(100%,65rem);
  margin:auto;
}
.container>.nav{
  padding: 1rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid var(--paragraph);
}
header nav ul {
  display: flex;
  margin-left: 15rem;
}
header nav ul li {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  width: 125px;
  position: relative;
}
header nav ul li::before {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  top: -1rem;
  left: -1rem;
  background-color: var(--paragraph);
}
header nav ul li a {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--headings);
}
header nav .cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .cta .cta__btn {
  border: none;
  background-color: transparent;
  letter-spacing: -0.5px;
}
header nav .cta img {
  width: 2rem;
  object-fit: cover;
  margin-left: 0.5rem;
  margin-right: auto;
}

/* Footer Styles */
footer{
  padding:5rem 0 0 0;
  background-color: var(--background);
}
footer .container>div:first-of-type{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .socials,
footer .container .newsletter{
  width: 50%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .socials{
  border-right: 1px solid var(--paragraph);
  padding-right: 2rem;
}
footer .container .newsletter{
  padding-left: 2rem;
  position: relative;
}
footer .container h3{
  font-size: var(--h3);
  line-height: 1.2;
  padding-bottom: 0;
  max-width:50%;
}
footer .container .socials div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .socials div>img{
  background-color: white;
  padding:.5rem;
  border-radius: 50%;
  margin-left: .5rem;
}
footer .container .newsletter input{
  padding:1rem;
  border-radius: 50px;
  border:none;
}

footer .container .newsletter input::placeholder{
  color:var(--paragraph);
  font-size: 0.75rem;
  letter-spacing: 1px;
}
footer .container .newsletter img{
  height:2.5rem;
  position: absolute;
  right: 0;
}
hr{
  background-color: var(--paragraph);
  margin-bottom: 2rem;
}

footer .container>div:nth-of-type(2){
  display:grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap:2rem;
  margin-bottom: 1rem;
}

footer .container>div:nth-of-type(2) a{
  text-decoration: none;
  font-size: 0.85rem;
  color: var(--paragraph);
  margin-bottom: .5rem;
}
footer p{
  color:var(--paragraph);
  font-size: 0.85rem;
  line-height: 1.5;
}
footer h4{
  font-size: var(--h4);
  margin-bottom: 1rem;
}
footer .container>div:nth-of-type(2)>div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
footer .container>div:nth-of-type(2) img{
  align-self: flex-start;
}
footer .container>div:nth-of-type(3),
footer .container>div:nth-of-type(3)>div{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
footer .container>div:nth-of-type(3)>div {
  width:40%;
}
footer .container>div:nth-of-type(3)>div img{
  width: 3rem;
  justify-self: flex-end;
}
