<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Reviews | Your Travel Agency</title>
    <style>
      /* CSS styles */
      main .container {
        padding-bottom: 5rem;
      }
      main h1 {
        margin-bottom: 1rem;
      }
      main > .container > p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
      }
      .button-group {
        margin-bottom: 20px;
      }

      .button {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-right: 10px;
        transition: all 0.2s ease-out;
      }

      .button.active {
        background-color: #f5c94f;
        color: black;
      }
      .button:hover {
        background-color: #f5c94fc5;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
      }

      .review-card {
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
      }

      .review-card img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 1rem;
        object-position: top;
      }
      @media screen and (max-width: 500px) {
        .button-group {
          display: none;
        }
        .grid {
          grid-template-columns: repeat(2, 1fr);
        }
        .review-card img {
          width: 80px;
          height: 80px;
          margin-bottom: 0.5rem;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="nav">
            <img src="../images/Travelo Logo.jpg" alt="Travelo Logo" />
            <ul>
              <li>
                <a href="../index.html" class="link">Home</a>
                <a href="./about.html" class="link">About Us</a>
              </li>
              <li>
                <a href="./destinations.html" class="link">Destinations</a>
                <a href="./services.html" class="link">Features</a>
              </li>
              <li>
                <a href="./prices.html" class="link">Pricing</a>
                <a href="#" class="link">Reviews</a>
              </li>
            </ul>
            <div class="cta first">
              <a class="primary-btn small">Log In</a>
            </div>
            <i
              class="fa-solid fa-bars"
              style="color: #000000"
              id="nav-icon"
              onclick="toggleSidebar()"
            ></i>
            <div id="sidebar" class="sidebar">
              <ul>
                <li>
                  <a href="../index.html" class="link">Home</a>
                  <a href="./about.html" class="link">About Us</a>
                </li>
                <li>
                  <a href="./destinations.html" class="link">Destinations</a>
                  <a href="./services.html" class="link">Features</a>
                </li>
                <li>
                  <a href="./prices.html" class="link">Pricing</a>
                  <a href="#" class="link">Reviews</a>
                </li>
              </ul>
              <div class="cta second">
                <a class="primary-btn small">Log In</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="fade-in">
      <div class="container">
        <h1>Reviews</h1>
        <p>Here is what some of our previous customers have to say about us!</p>
        <div class="button-group">
          <button class="button active" data-columns="2">2</button>
          <button class="button" data-columns="3">3</button>
        </div>

        <div class="grid">
          <div class="review-card">
            <img
              src="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydHJhaXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60"
              alt="Review"
            />
            <h3>Jasmine Doe</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              aliquet velit vitae erat rutrum condimentum.
            </p>
          </div>
          <div class="review-card">
            <img
              src="https://images.unsplash.com/photo-1552374196-c4e7ffc6e126?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
              alt="Review"
            />
            <h3>John Smith</h3>
            <p>
              Ut efficitur nibh in pharetra congue. Nulla facilisi. Integer
              tempor dignissim ex, id pellentesque elit iaculis nec.
            </p>
          </div>
          <div class="review-card">
            <img
              src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
              alt="Review"
            />
            <h3>Mark Johnson</h3>
            <p>
              Suspendisse blandit ultrices nisi vitae aliquet. Integer lobortis
              sem in augue ullamcorper, vitae aliquam lectus hendrerit.
            </p>
          </div>
          <div class="review-card">
            <img
              src="https://images.unsplash.com/photo-1685639837214-bedaccf96afc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyOHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
              alt="Review"
            />
            <h3>Sarah Thompson</h3>
            <p>
              Ut feugiat nisl sit amet felis malesuada, eget suscipit velit
              luctus. Sed consequat tellus id consequat imperdiet.
            </p>
          </div>
          <div class="review-card">
            <img
              src="https://images.unsplash.com/photo-1602233158242-3ba0ac4d2167?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2lybHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60"
              alt="Review"
            />
            <h3>Emily Davis</h3>
            <p>
              Aliquam et odio sed est ullamcorper varius. Suspendisse sit amet
              ipsum malesuada, tincidunt odio et, ultricies ligula.
            </p>
          </div>

          <!-- Add more review cards as needed -->
        </div>
      </div>
    </main>
    <div class="wishlist" id="wishlist">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <div id="wishlist-container" class="wishlist-container">
      <div class="wishlist-content" id="wishlist-content"></div>
      <div>
        <p style="margin-bottom: 1rem;" id="estimated">Total Estimated Price : <strong id="total-amount">0</strong></p>
        <button id="buy"class="primary-btn">Checkout Now</button>
      </div>
    </div>
    <footer>
      <div class="container">
        <div>
          <div class="socials">
            <h3>Leading the way in adventure</h3>
            <div>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-facebook-f" style="color: #000000;"></i>
              </a>
              
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram" style="color: #000000;"></i>
              </a>
              <a href="https://www.twitter.com/" target="_blank">
                <i class="fa-brands fa-twitter" style="color: #000000;"></i>
              </a>
              <a href="https://www.youtube.com/" target="_blank">
                <i class="fa-brands fa-youtube" style="color: #000000;"></i>
              </a>
            </div>
          </div>
          <div class="newsletter">
            <h3>Join Our Newsletter</h3>
            <input type="email" placeholder="Enter your e-mail" />
            <img
              src="../images/icons/cta-btn.png"
              alt="Submit Icon"
              onclick="showPopup()"
            />
            <div id="popup" class="popup"></div>
          </div>
        </div>
        <hr />
        <div>
          <div>
            <img src="../images/Travelo Logo.jpg" alt="Travelo Logo" />
            <p>
              Travell plans are not really an instrument themselves but a
              delivery mechanism or strategy for mostly others
            </p>
          </div>
          <div>
            <h4>Contact</h4>
            <a href="/">+913134566585</a>
            <a href="">info@travelo.com</a>
            <a href="">support@travelo.com</a>
          </div>
          <div>
            <h4>Company</h4>
            <a href="/">About Us</a>
            <a href="">Features</a>
            <a href="">Careers</a>
          </div>
          <div>
            <h4>Resource</h4>
            <a href="/">Press Info</a>
            <a href="">Customers</a>
            <a href="">Reviews</a>
          </div>
        </div>
        <hr />
        <div>
          <p>@2023 travelo | All Rights Reserved</p>
          <div>
            <p>We Accept Payment:</p>
            <img src="../images/icons/logos_stripe.svg" alt="Stripe Logo" />
            <img src="../images/icons/Paypal.svg" alt="Paypal Logo" />
            <img src="../images/icons/Payonner 1.svg" alt="Payoneer Logo" />
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="../main.js"></script>
  <script>
    // JavaScript code
    document.addEventListener("DOMContentLoaded", function () {
      const buttons = document.querySelectorAll(".button");
      const grid = document.querySelector(".grid");

      buttons.forEach((button) => {
        button.addEventListener("click", function () {
          buttons.forEach((btn) => btn.classList.remove("active"));
          this.classList.add("active");
          const columns = this.getAttribute("data-columns");
          grid.style.gridTemplateColumns = `repeat(${columns}, 1fr)`;
        });
      });
    });
  </script>
</html>
