<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Our Services | Your Travel Agency</title>
    <style>
      /* CSS styles */
      p{
        font-size: 1rem;
      }
      main h2{
        margin-bottom: 1rem;
        font-size: 3rem;
      }
      .service {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
        padding:1rem;
        border-radius: 5rem 1rem 1rem 5rem;
        transition: all .1s ease-in;
        cursor: pointer;
      }
      .service:hover{
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
      }
      .service img{
        width:15rem;
        height: 15rem;
        border-radius: 4rem 1rem 1rem 4rem;
        margin-right: 1rem;
      }

      .service-details {
        flex: 1;
      }
      @media screen and (max-width: 1050px){
      main h2{
        font-size: 2rem;
      }
      .service img{
        width: 10rem;
        height: 10rem;
        border-radius: 4rem 1rem 1rem 4rem;
        margin-right: 1rem;
      }
      }
      @media screen and (max-width: 635px) {
        main h2{
        font-size: 2rem;
        margin-bottom: .5rem;
      }
      .service{
        border-radius: 1rem;
flex-direction: column;
      }
        .service img{
        width: 100%;
        border-radius: 1rem;
        margin-bottom: 1rem;
        margin-right: auto !important;
      }
        .service-details{
          text-align: center;
        }
        p{
          margin-left: auto;
          /* max-width: 20rem; */
        }
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="nav">
            <img src="../images/Travelo Logo.jpg" alt="Travelo Logo" />
            <ul>
              <li>
                <a href="../index.html" class="link">Home</a>
                <a href="./about.html" class="link">About Us</a>
              </li>
              <li>
                <a href="./destinations.html" class="link">Destinations</a>
                <a href="#" class="link">Features</a>
              </li>
              <li>
                <a href="./prices.html" class="link">Pricing</a>
                <a href="./reviews.html" class="link">Reviews</a>
              </li>
            </ul>
            <div class="cta first">
              <a class="primary-btn small">Log In</a>
            </div>
            <i
              class="fa-solid fa-bars"
              style="color: #000000"
              id="nav-icon"
              onclick="toggleSidebar()"
            ></i>
            <div id="sidebar" class="sidebar">
              <ul>
                <li>
                  <a href="../index.html" class="link">Home</a>
                  <a href="./about.html" class="link">About Us</a>
                </li>
                <li>
                  <a href="./destinations.html" class="link">Destinations</a>
                  <a href="#" class="link">Features</a>
                </li>
                <li>
                  <a href="./prices.html" class="link">Pricing</a>
                  <a href="./reviews.html" class="link">Reviews</a>
                </li>
              </ul>
              <div class="cta second">
                <a class="primary-btn small">Log In</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="fade-in">
      <div class="container">
        <h1>Our Services</h1>

        <div class="service">
          <img src="https://images.unsplash.com/photo-1578894381163-e72c17f2d45f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1506&q=80" alt="Service Image">
          <div class="service-details">
            <h2><i class="fa-solid fa-suitcase-rolling" style="color: #f5c94f;"></i> Travel Planning</h2>
            <p>
              Let our expert travel planners take care of all the details for
              your next trip. We'll design a personalized itinerary based on
              your preferences and provide recommendations for the best
              destinations, attractions, and activities.
            </p>
          </div>
        </div>

        <div class="service">
          <img src="https://images.unsplash.com/photo-1483450388369-9ed95738483c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" alt="Service Image">
          <div class="service-details">
            <h2><i class="fa-solid fa-plane-circle-check" style="color: #d58170;"></i> Flight Booking</h2>
            <p>
              Book your flights with ease through our reliable and efficient
              flight booking services. We have access to a wide range of
              airlines and can find the best fares for your desired travel dates
              and destinations.
            </p>
          </div>
        </div>

        <div class="service">
          <img src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8QWNjb21vZGF0aW9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60" alt="Service Image">
          <div class="service-details">
            <h2><i class="fa-solid fa-bed" style="color: #d411a0;"></i> Accommodation</h2>
            <p>
              Find the perfect place to stay during your trip with our
              accommodation services. Whether you prefer luxury hotels, cozy bed
              and breakfasts, or budget-friendly options, we'll help you secure
              comfortable and convenient accommodations.
            </p>
          </div>
        </div>

        <div class="service">
          <img src="https://images.unsplash.com/photo-1600664262559-fe224e7734bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dG91ciUyMGd1aWRlfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60" alt="Service Image">
          <div class="service-details">
            <h2><i class="fa-solid fa-person-military-to-person" style="color: #4caf50;"></i> Guided Tours</h2>
            <p>
              Immerse yourself in the local culture and discover hidden gems
              with our guided tours. Our experienced tour guides will accompany
              you on unique and insightful excursions, ensuring you have an
              enriching travel experience.
            </p>
          </div>
        </div>

        <div class="service">
          <img src="https://images.unsplash.com/photo-1529369623266-f5264b696110?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyJTIwcmVudGFsfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60" alt="Service Image">
          <div class="service-details">
            <h2><i class="fa-solid fa-car-on" style="color: #6a96e2;"></i> Car Rentals</h2>
            <p>
              Explore your destination at your own pace with our car rental
              services. We offer a wide selection of vehicles to suit your
              needs, from compact cars to spacious SUVs, making it convenient
              for you to go wherever you desire.
            </p>
          </div>
        </div>

      </div>
    </main>
    <div class="wishlist" id="wishlist">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <div id="wishlist-container" class="wishlist-container">
      <div class="wishlist-content" id="wishlist-content"></div>
      <div>
        <p style="margin-bottom: 1rem;" id="estimated">Total Estimated Price : <strong id="total-amount">0</strong></p>
        <button id="buy"class="primary-btn">Checkout Now</button>
      </div>
    </div>
    <footer>
      <div class="container">
        <div>
          <div class="socials">
            <h3>Leading the way in adventure</h3>
            <div>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-facebook-f" style="color: #000000;"></i>
              </a>
              
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram" style="color: #000000;"></i>
              </a>
              <a href="https://www.twitter.com/" target="_blank">
                <i class="fa-brands fa-twitter" style="color: #000000;"></i>
              </a>
              <a href="https://www.youtube.com/" target="_blank">
                <i class="fa-brands fa-youtube" style="color: #000000;"></i>
              </a>
            </div>
          </div>
          <div class="newsletter">
            <h3>Join Our Newsletter</h3>
            <input type="email" placeholder="Enter your e-mail" />
            <img src="../images/icons/cta-btn.png" alt="Submit Icon" onclick="showPopup()"/>
            <div id="popup" class="popup"></div>

          </div>
        </div>
        <hr />
        <div>
          <div>
            <img src="../images/Travelo Logo.jpg" alt="Travelo Logo" />
            <p>
              Travell plans are not really an instrument themselves but a
              delivery mechanism or strategy for mostly others
            </p>
          </div>
          <div>
            <h4>Contact</h4>
            <a href="/">+913134566585</a>
            <a href="">info@travelo.com</a>
            <a href="">support@travelo.com</a>
          </div>
          <div>
            <h4>Company</h4>
            <a href="/">About Us</a>
            <a href="">Features</a>
            <a href="">Careers</a>
          </div>
          <div>
            <h4>Resource</h4>
            <a href="/">Press Info</a>
            <a href="">Customers</a>
            <a href="">Reviews</a>
          </div>
        </div>
        <hr />
        <div>
          <p>@2023 travelo | All Rights Reserved</p>
          <div>
            <p>We Accept Payment:</p>
            <img src="../images/icons/logos_stripe.svg" alt="Stripe Logo" />
            <img src="../images/icons/Paypal.svg" alt="Paypal Logo" />
            <img src="../images/icons/Payonner 1.svg" alt="Payoneer Logo" />
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="../main.js"></script>
  </script>
</html>
